/inst/local/include/smoke/qanviz_smoke.h
/kdebindings-build/CMakeCache.txt
/kdebindings-build/CMakeFiles/CMakeCCompiler.cmake
/kdebindings-build/CMakeFiles/CMakeCXXCompiler.cmake
/kdebindings-build/CMakeFiles/CMakeDetermineCompilerABI_C.bin
/kdebindings-build/CMakeFiles/CMakeDetermineCompilerABI_CXX.bin
/kdebindings-build/CMakeFiles/CMakeDirectoryInformation.cmake
/kdebindings-build/CMakeFiles/CMakeError.log
/kdebindings-build/CMakeFiles/CMakeOutput.log
/kdebindings-build/CMakeFiles/CMakeRuleHashes.txt
/kdebindings-build/CMakeFiles/CMakeSystem.cmake
/kdebindings-build/CMakeFiles/CompilerIdC/CMakeCCompilerId.c
/kdebindings-build/CMakeFiles/CompilerIdC/a.out
/kdebindings-build/CMakeFiles/CompilerIdCXX/CMakeCXXCompilerId.cpp
/kdebindings-build/CMakeFiles/CompilerIdCXX/a.out
/kdebindings-build/CMakeFiles/Makefile.cmake
/kdebindings-build/CMakeFiles/Makefile2
/kdebindings-build/CMakeFiles/TargetDirectories.txt
/kdebindings-build/CMakeFiles/cmake.check_cache
/kdebindings-build/CMakeFiles/progress.marks
/kdebindings-build/Makefile
/kdebindings-build/cmake_install.cmake
/kdebindings-build/install_manifest.txt
/kdebindings-build/smoke/CMakeFiles/CMakeDirectoryInformation.cmake
/kdebindings-build/smoke/CMakeFiles/progress.marks
/kdebindings-build/smoke/Makefile
/kdebindings-build/smoke/cmake_install.cmake
/kdebindings-build/smoke/qanviz/CMakeFiles/CMakeDirectoryInformation.cmake
/kdebindings-build/smoke/qanviz/CMakeFiles/generate_smoke.dir/DependInfo.cmake
/kdebindings-build/smoke/qanviz/CMakeFiles/generate_smoke.dir/build.make
/kdebindings-build/smoke/qanviz/CMakeFiles/generate_smoke.dir/cmake_clean.cmake
/kdebindings-build/smoke/qanviz/CMakeFiles/generate_smoke.dir/depend.internal
/kdebindings-build/smoke/qanviz/CMakeFiles/generate_smoke.dir/depend.make
/kdebindings-build/smoke/qanviz/CMakeFiles/generate_smoke.dir/progress.make
/kdebindings-build/smoke/qanviz/CMakeFiles/progress.marks
/kdebindings-build/smoke/qanviz/Makefile
/kdebindings-build/smoke/qanviz/cmake_install.cmake
/kdebindings-build/smoke/qanviz/generator.log
/kdebindings-build/smoke/qanviz/smokedata.cpp
/kdebindings-build/smoke/qanviz/x_1.cpp
/src-build/CMakeCache.txt
/src-build/CMakeFiles/CMakeCCompiler.cmake
/src-build/CMakeFiles/CMakeCXXCompiler.cmake
/src-build/CMakeFiles/CMakeDetermineCompilerABI_C.bin
/src-build/CMakeFiles/CMakeDetermineCompilerABI_CXX.bin
/src-build/CMakeFiles/CMakeDirectoryInformation.cmake
/src-build/CMakeFiles/CMakeError.log
/src-build/CMakeFiles/CMakeOutput.log
/src-build/CMakeFiles/CMakeRuleHashes.txt
/src-build/CMakeFiles/CMakeSystem.cmake
/src-build/CMakeFiles/CompilerIdC/CMakeCCompilerId.c
/src-build/CMakeFiles/CompilerIdC/a.out
/src-build/CMakeFiles/CompilerIdCXX/CMakeCXXCompilerId.cpp
/src-build/CMakeFiles/CompilerIdCXX/a.out
/src-build/CMakeFiles/Makefile.cmake
/src-build/CMakeFiles/Makefile2
/src-build/CMakeFiles/TargetDirectories.txt
/src-build/CMakeFiles/cmake.check_cache
/src-build/CMakeFiles/progress.marks
/src-build/CMakeFiles/qtpaint.dir/CXX.includecache
/src-build/CMakeFiles/qtpaint.dir/DependInfo.cmake
/src-build/CMakeFiles/qtpaint.dir/Layer.cpp.o
/src-build/CMakeFiles/qtpaint.dir/OpenGLPainter.cpp.o
/src-build/CMakeFiles/qtpaint.dir/Painter.cpp.o
/src-build/CMakeFiles/qtpaint.dir/PainterWrappers.cpp.o
/src-build/CMakeFiles/qtpaint.dir/PlotView.cpp.o
/src-build/CMakeFiles/qtpaint.dir/QtBasePainter.cpp.o
/src-build/CMakeFiles/qtpaint.dir/QtPainter.cpp.o
/src-build/CMakeFiles/qtpaint.dir/RLayer.cpp.o
/src-build/CMakeFiles/qtpaint.dir/ScenePainter.cpp.o
/src-build/CMakeFiles/qtpaint.dir/TestWidget.cpp.o
/src-build/CMakeFiles/qtpaint.dir/build.make
/src-build/CMakeFiles/qtpaint.dir/cmake_clean.cmake
/src-build/CMakeFiles/qtpaint.dir/convert.cpp.o
/src-build/CMakeFiles/qtpaint.dir/depend.internal
/src-build/CMakeFiles/qtpaint.dir/depend.make
/src-build/CMakeFiles/qtpaint.dir/flags.make
/src-build/CMakeFiles/qtpaint.dir/imports.cpp.o
/src-build/CMakeFiles/qtpaint.dir/init.cpp.o
/src-build/CMakeFiles/qtpaint.dir/link.txt
/src-build/CMakeFiles/qtpaint.dir/moc_Layer.cxx.o
/src-build/CMakeFiles/qtpaint.dir/moc_PlotView.cxx.o
/src-build/CMakeFiles/qtpaint.dir/moc_RLayer.cxx.o
/src-build/CMakeFiles/qtpaint.dir/paintUtils.cpp.o
/src-build/CMakeFiles/qtpaint.dir/progress.make
/src-build/CMakeFiles/qtpaint.dir/scene.cpp.o
/src-build/CMakeFiles/qtpaint.dir/smokedata.cpp.o
/src-build/CMakeFiles/qtpaint.dir/x_1.cpp.o
/src-build/Makefile
/src-build/cmake_install.cmake
/src-build/install_manifest.txt
/src-build/moc_Layer.cxx
/src-build/moc_PlotView.cxx
/src-build/moc_RLayer.cxx
/src-build/qanviz_includes.h
/src-build/qtpaint.so
/src-build/smokedata.cpp
/src-build/x_1.cpp
/src/Painter.cpp~
/src/qtpaint.so
/.gitignore~
/NOTES~
/R/.Rhistory
/demo/.Rhistory
/src-build/CMakeFiles/qtpaint.dir/depend.make~
/src-build/x_1.cpp~
/src/Makefile.win~
/src/mkdef.sh~
/man/qgylphExpansionReplace.Rd~
/R/QtPainter-class.R~
/man/.Rhistory
