useDynLib(qtpaint)

importFrom(qtbase, qshow, qclose, qfont)
export(qshow, qclose, qfont)

export(qscene, qview)

export("qantialias<-",
       qcircle,
       "qdash<-",
       "qfillColor<-",
       "qfont<-",
       qglyph,
       "qhasFill<-",
       "qhasStroke<-",
       "qlineWidth<-",
       qmatrix,
       "qmatrix<-",
       "qmatrixEnabled<-",
       qpath,
       qpathCircle,
       qpathPolygon,
       qpathRect,
       qpathSegment,
       qpathText,
       qpoint,
       qpolygon,
       qpolyline,
       qrect,
       qsegment,
       "qstrokeColor<-",
       qtext,
       qtextExtents,
       qstrWidth
       )

export(qoverlay,
       qlayer,
       qsetGeometry,
       qgeometry,
       qboundingRect,
       qpaintingView,
       qlimits,
       qsetLimits,
       qdeviceMatrix,
       qaddGraphicsWidget,
       qitems,
       qupdate,
       "qcacheMode<-",
       qcacheMode,
       qfocus,
       "qbackground<-")

export(qmap, qscale, qtranslate, qrotate)

S3method("[<-", Layer)
S3method(dim, QGraphicsItem)
S3method(dim, QGraphicsView)
